.all {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left {
  width: 203px;
}

.note-container {
  width: 100%;
  max-width: 1029px;
  margin-bottom: 16px;
  text-align: left;
}

.note {
  color: #eb455f;
  font-size: 12px;
}

table {
  width: full;
  border-collapse: collapse;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 6px;
}
thead tr th p {
  font-size: 14px;
  color: #696969;
}
thead tr th svg {
  cursor: pointer;
  color: #696969;
}

tbody tr td p {
  font-size: 12px;
  color: #696969;
}

tbody tr td svg {
  color: #696969;
  cursor: pointer;
}

tbody::before {
  content: "-";
  display: block;
  line-height: 6px;
  text-indent: -99999px;
  background-color: #f9faff;
}
tbody tr {
  border-bottom: thin solid #f9faff;
}

.header-cell {
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 42px;
  font-weight: bold;
  flex-direction: row;
  gap: 6px;
}

.downup-icon {
  width: 12px;
  height: 12px;
}

.th {
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  color: #696969;
  padding: 12px;
  box-sizing: border-box;
}

.email-cell,
.address-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

tbody {
  display: block;
  max-height: 500px;
  overflow-y: auto;
}

tbody::-webkit-scrollbar {
  display: none;
}

tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* Đảm bảo bảng không bị phá vỡ layout */
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.textnav {
  font-size: 14px;
  font-weight: 400;
  color: #1c1c1c;
}

::placeholder {
  color: #cbcbcb;
  font-size: 16px;
  font-weight: 400;
}

.right-bottom {
  padding: 24px;
  background-color: #f9faff;
}

.nav {
  margin-top: 16px;
  margin-bottom: 16px;
}

/* Kích thước cột */
.cusTable th:nth-child(1),
.cusTable td:nth-child(1) {
  width: 5%; /* Cột STT */
}

.cusTable th:nth-child(2),
.cusTable td:nth-child(2) {
  width: 12%; /* Mã khách hàng */
}

.cusTable th:nth-child(3),
.cusTable td:nth-child(3) {
  width: 10%; /* Họ */
}

.cusTable th:nth-child(4),
.cusTable td:nth-child(4) {
  width: 10%; /* Tên */
}

.cusTable th:nth-child(5),
.cusTable td:nth-child(5) {
  width: 10%; /* Giới tính */
}

.cusTable th:nth-child(6),
.cusTable td:nth-child(6) {
  width: 10%; /* Số điện thoại */
}
.cusTable th:nth-child(7),
.cusTable td:nth-child(7) {
  width: 13%; /* Gmail */
}

.cusTable th:nth-child(8),
.cusTable td:nth-child(8) {
  width: 22%; /* Địa chỉ */
}
