/* Kích thước cột */
.orderTable th:nth-child(1),
.orderTable td:nth-child(1) {
  width: 50px; /* Cột STT */
}

.orderTable th:nth-child(2),
.orderTable td:nth-child(2) {
  width: 10%; /* Mã đơn */
}

.orderTable th:nth-child(3),
.orderTable td:nth-child(3) {
  width: auto; /* Ngừi gửi */
}

.orderTable th:nth-child(4),
.orderTable td:nth-child(4) {
  width: auto; /* Ng nhận */
}

.orderTable th:nth-child(5),
.orderTable td:nth-child(5) {
  width: auto; /* Địa chỉ */
}

.orderTable th:nth-child(6),
.orderTable td:nth-child(6) {
  width: 10%; /* Thời gian */
}

.orderTable th:nth-child(7),
.orderTable td:nth-child(7) {
  width: auto; /* Tài xế */
}

.orderTable th:nth-child(8),
.orderTable td:nth-child(8) {
  width: auto; /* Status */
}
.orderTable th:nth-child(8),
.orderTable td:nth-child(8) {
  width: auto; /* DeliverPyrice */
}

tbody::-webkit-scrollbar {
  display: none;
}

tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* Đảm bảo bảng không bị phá vỡ layout */
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.textnav {
  font-size: 14px;
  font-weight: 400;
  color: #1c1c1c;
}

::placeholder {
  color: #cbcbcb;
  font-size: 16px;
  font-weight: 400;
}

.all {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left {
  width: 203px;
}

.note-container {
  width: 100%;
  max-width: 1029px;
  margin-bottom: 16px;
  text-align: left;
}

.note {
  color: #eb455f;
  font-size: 12px;
}
.table-container {
  height: 100%;
  overflow-y: auto;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

tbody {
  display: block;
  overflow-y: auto;
}
thead tr th p {
  font-size: 14px;
  color: #696969;
}
thead tr th svg {
  cursor: pointer;
  color: #696969;
}

tbody tr td p {
  font-size: 12px;
  color: #696969;
}

tbody tr td svg {
  color: #696969;
  cursor: pointer;
}

tbody::before {
  content: "-";
  display: block;
  line-height: 6px;
  text-indent: -99999px;
  background-color: #f9f9f9;
}
tbody tr {
  border-bottom: thin solid #f9f9f9;
}

.header-cell {
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 42px;
  font-weight: bold;
  flex-direction: row;
  gap: 6px;
}

.downup-icon {
  width: 12px;
  height: 12px;
}

.th {
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  color: #696969;
  padding: 12px;
  box-sizing: border-box;
}

.email-cell,
.address-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
