.container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.registerButton {
  background-color: #f44336; /* Red color for the register button */
  color: white;
}

.searchBar {
  width: 100%;
  margin-bottom: 20px;
}

.tableRow {
  cursor: pointer;
}

.tableRow:hover {
  background-color: #f5f5f5; /* Light hover effect for rows */
}

.online {
  color: green;
}

.offline {
  color: red;
}