@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --background: #ffffff; /* This is already set to white */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* Change this to white for dark mode as well */
    --foreground: #171717; /* Adjust if needed */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Lato", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

table thead {
  user-select: none; 
}

.MuiChartsTooltip-table {
  width: auto !important;
  max-width: 400px !important;
}

.MuiChartsTooltip-table tbody {
  width: 100% !important;
  max-width: 100% !important;
}

.MuiChartsTooltip-valueCell{
  padding-left: 8px !important;
  padding-right: 8px !important;
}