* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Bitter:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&family=Lobster&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

.describe-text,
.support p {
  font-family: "Lato", sans-serif;
  font-weight: 100;
}
.Active {
  font-weight: bold;
  background: var(--Color-Background-Background, #f9faff);
  border-right: thin solid #ec6e70;
}

.react-datepicker-wrapper input {
  width: 100%;
}

.logoArea {
  background: linear-gradient(to bottom, #5b5958, #1c1c1c);
}
/* Ẩn thanh tăng giảm trên Chrome, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Ẩn trên Chrome và Safari */
  margin: 0; /* Đảm bảo không có margin */
}

/* Ẩn thanh tăng giảm trên Firefox */
input[type="number"] {
  -moz-appearance: textfield; /* Ẩn trên Firefox */
}

.layout-container {
  background-image: url("../Pictures/Image_MT/particle-lines-futuristic-gradient-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Circle */
/* Container bao quanh ngũ giác */
.pentagon {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 50px auto;
}

/* Tạo các hình tròn con lớn */
.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 0.2);
  animation: move 10s linear infinite;
}

/* Định vị các hình tròn con tại các vị trí theo hình ngũ giác */
.circle:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-delay: 0s;
  background-image: url("../Pictures/Image_MT/Bob.png");
  background-size: cover;
}
.circle:nth-child(2) {
  top: 22%;
  left: 88%;
  transform: translate(-50%, -50%);
  animation-delay: 1s;
  background-image: url("../Pictures/Image_MT/Jack.png");
  background-size: cover;
}
.circle:nth-child(3) {
  bottom: 10%;
  left: 76%;
  transform: translate(-50%, -50%);
  animation-delay: 2s;
  background-image: url("../Pictures/Image_MT/DeeDee.png");
  background-size: cover;
}
.circle:nth-child(4) {
  bottom: 10%;
  left: 24%;
  transform: translate(-50%, -50%);
  animation-delay: 3s;
  background-image: url("../Pictures/Image_MT/Joey.png");
  background-size: cover;
}
.circle:nth-child(5) {
  top: 22%;
  left: 12%;
  transform: translate(-50%, -50%);
  animation-delay: 4s;
  background-image: url("../Pictures/Image_MT/Marky.png");
  background-size: cover;
}

.profileAvt {
  background-image: url("../Pictures/Image_MT/PersonalImage.png");
  background-size: cover;
}

/* Keyframes để thay đổi vị trí */
@keyframes move {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  20% {
    transform: translate(-50%, -50%) scale(1.2);
  } /* Phóng to nhẹ khi di chuyển */
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
/* .logo {
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
} */

.logo {
  background-image: url("../Pictures/Image_MT/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.banner {
  background-image: url("../Pictures/Image_MT/image.png");
  background-size: cover;
}

.noresult {
  background-image: url("../Pictures/Image_MT/NoResult.png");
  background-size: cover;
}


/* Loading bar */
/* Container giữ thanh loading */
.loading-bar-container {
  width: 50px; /* Chiều rộng của khung */
  height: 2px; /* Chiều cao của khung */
  background-color: #e0e0e0; /* Màu nền khung */
  border-radius: 5px; /* Bo góc cho khung */
  overflow: hidden; /* Ẩn phần vượt ra ngoài */
  position: relative; /* Đặt tương đối để thanh loading di chuyển trong khung */
}

/* Thanh loading */
.loading-bar {
  width: 100%; /* Chiều rộng ban đầu của thanh loading */
  height: 100%; /* Chiều cao của thanh bằng với khung */
  background-color: #2FA087; /* Màu của thanh */
  border-radius: 5px; /* Bo góc thanh */
  position: absolute; /* Đặt vị trí tuyệt đối để di chuyển */
  animation: move-bar 2s linear infinite; /* Hiệu ứng di chuyển lặp lại vô hạn */
}

.loading-bar-success {
  height: 100%; /* Chiều cao của thanh bằng với khung */
  background-color: #2FA087; /* Màu của thanh */
  border-radius: 5px; /* Bo góc thanh */
}

.loading-bar-notyet {
  height: 100%; /* Chiều cao của thanh bằng với khung */
  background-color: #e0e0e0; /* Màu của thanh */
  border-radius: 5px; /* Bo góc thanh */
}

/* Hiệu ứng thanh di chuyển */
@keyframes move-bar {
  0% {
    transform: translateX(-100%); /* Bắt đầu ngoài khung */
  }
  100% {
    transform: translateX(100%); /* Di chuyển hết khung */
  }
}