.body{
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* align-items: center; */
    /* justify-content: center; */
}

/*ORDER PAGE*/
.trackingPark {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    justify-content: space-between;
    align-items:center;
    gap: 16px;
    /* padding: 0px 24px; */
}
.card{
    /* background-color: #d9d9d9; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:12px;
    border-radius: 6px;
    flex-basis: 212px;
    padding: 24px 32px;
    background-color: white;
    width: fit-content;
    height: fit-content;
}

.map{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    height: fit-content;
    border-radius: 6px;
    background: var(--Color-Basic-White, #FFF);
}
.mapTitle{
    display: flex;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 100%;
}
.searchBox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    /* background-color: #CBCBCB; */
    width: 342px;
    height: 48px;
}
.input{
    /* background:#CBCBCB; */
    border:0px;
    height: 48px;
    width:100%;
    padding: 12px 16px;
    display: flex;
    border-radius: 6px;
    border: 1px solid var(--Color-Box-Outline, #CBCBCB);
}
.importMap{
    height: 532px;
    width: 100%;
    /* background: black; */
}

.list{
    display: flex;
    flex-direction: column;
    /* background-color: #d9d9d9; */
    /* padding: 0px 24px; */
    gap: 16px;
}
.tbHead{
    font-size: 14px;
    font-weight: 700;
    gap:3px;
    /* display: flex; */
    align-items: center;
}
.tbBody{
    font-size: 13px;
}


/*CREATE ORDER PAGE*/
.title{
    display: flex;
    width: 100%;
    padding: 24px 0px;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}
.backBTN{
    display: flex;
    width: 44px;
    height: 44px;
    padding: 14px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 6px;
    /* background: #B8DDFF; */
    border-radius: 6px;
    background: var(--Token-Button-background-2, #B8DDFF);
}
.form{
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 6px;
    background: var(--Color-Basic-White, #FFF);
}
.personPart,.orderPart{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}
.orderContain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 2;
    gap: 16px;
    width: 100%;
}
.containRight {
    display: flex;
    /* flex-wrap: wrap; */
    flex: 1;
    flex-direction: column;
    width:100%;
    gap: 12px;
}
.containLeft{
    display: flex;
    /* flex-wrap: wrap; */
    flex: 1;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}
.orderInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    width: 100%;
    height: fit-content;
}
.inputTitle{
    color: #696969;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}






@media(max-width:846px){
    .trackingPark{
        /* flex-direction: column; */
    }
    .mapTitle{
        flex-direction: column;
        height: fit-content;
    }
    .orderContain{
        flex-direction: column;
    }
}